.logo {
    width: 2em;
    height: 2em;
    padding-bottom: 5px;
}

.redcolor {
    background-color:#A93A3A ;
}
.headertest{
    width: 100%;
    background-color:#A93A3A
}

.boutonconnexion{
    grid-row: 1;
    grid-column: 8 / 12;
    height: 32px;
    width: 200px;
    font-size: 18px;
}

.boutoninscription{
    grid-row: 1;
    grid-column: 10 / 12;
    height: 32px;
    width: 200px;
}

.navBarLink:hover{
    color: #911b1b;
}